@{
    ViewData["Title"] = "Pagina Incial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Sistema de Tarefas cotidianas</p>
</div>
    <p>O desenvolvimento do sistema , sempre é fundamental para a gente crescer profisisonalmenrte, sempre dando o nosos melhor e aprendendo as tecnologias existentes no mercado de trabalho, pois é fundamental para nossa evcolução profissional. Sempre aprimorando ainda mais nosso conhecimento, dedicando o maximo de tempo possivel a nossa carreira profissional, dedicando nossa garra e perserverança no trabalho. Na dedicação o profissional cresce e busca conhecimento profissional.</p>