@model TarefaModel
@{
    ViewData["Title"] = "Adicionar tarefa";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Tarefa</h1>


</div>

<form asp-controller="Tarefa" asp-action="Criar" method="post">
  <div class="form-group">
    <label for="titulo">Titulo</label>
    <input type="text" asp-for="Titulo" class="form-control" placeholder="Digite o titulo">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Descrição</label>
    <textarea class="form-control" asp-for="Descricao" rows="3"></textarea>
  </div>
  <div class="form-group input-group date" data-date-format="dd/mm/yyyy">
    <label for="dataInicio">Data Inicio</label>
     <input  type="text" asp-for="DataInicio" class="form-control" placeholder="dd/mm/yyyy">
     <div class="input-group-addon" >
        <span class="glyphicon glyphicon-th"></span>
     </div>
  </div>
  <div class="form-group input-group date" data-date-format="dd/mm/yyyy">
    <label for="dataFim">Data Fim</label>
    <input  type="text" asp-for="DataFim" class="form-control" placeholder="dd/mm/yyyy">
    <div class="input-group-addon" >
       <span class="glyphicon glyphicon-th"></span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <button type="submit" asp-controller="Tarefa" asp-action="Index" class="btn btn-dark">Cancelar</button>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin pro Datapicker novo , podendo abrir para escolher a data -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js'></script>
    <script>
     $('.input-group.date').datepicker({format: "dd/mm/yyyy"});
    </script>
